/*
module.css
*/

#nendebcopy{
	display: none;
	}

body,p,div,li,th,td,dt,dd,span{
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 100;
	font-size: 13px;
	letter-spacing:3px;
	}

h1,h2,h3{
	font-weight: 300;
	font-size: 18px;
	letter-spacing:3px;
	}

.fadeConts{ opacity:0; transition: 1.0s; }
.fadeConts.show { opacity: 1; }

.content-area{
	padding:0;
	margin:0 auto;
	}

ul.paging{
	letter-spacing: -0.4em;
	text-align: center;
	margin:40px auto;
	}
ul.paging li{
	letter-spacing: normal;
	display:inline-block;
	margin:0 5px;
	font-size:14px;
	}
ul.paging li:nth-child(1),
ul.paging li:nth-child(2),
ul.paging li:nth-last-child(1),
ul.paging li:nth-last-child(2){
	transform: scale(0.6, 3);
	font-size:12px;
    vertical-align: top;
	}
a.nolink{
	color:#E1E1E6;
	pointer-events:none;
	}


ul.breadlist{
	width:calc(100% - 20px);
	max-width:1080px;
	text-align: right;
	margin:30px auto;
	}
ul.breadlist li{
	display: inline-block;
	font-size:11px;
	}
ul.breadlist li a{
	color: #92909B;
	}

ul.breadlist li:before{
	content: ">";
	margin:0 10px;
	}
ul.breadlist li:nth-child(1):before{
	content:none;
	}



.wrap-block{
	display: block;
	width:calc(100% - 20px);
	max-width:1080px;
	margin:40px auto 80px auto;
	}

.wrap-block h2,
.column-wrap h2,
.wrap-block h3{
    font-family: 'Anton', sans-serif;
    color: #302E3D;
	}
.wrap-block h2 span,
.column-wrap h2 span{
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 13px;
	color: #92909B;
	display: inline-block;
	margin-left:20px;
	}
.wrap-block h2,
.column-wrap h2{
	font-size: 30px;
	padding-bottom:2px;
	border-bottom:2px solid #92909B;
	margin-bottom:30px;
	}
.wrap-block h3{
	font-size: 24px;
	margin-bottom:10px;
	}

/*
--------------------------------------------*
property
*/
.property{}
.property p.img{
	position: relative;
	display: inline-block;
	}
.property p.img span.msg{
    position: absolute;
    bottom: 10px;
    background: #fff;
    display: block;
    width: calc(100% - 30px);
    z-index: 1;
    left: 0;
	height:20px;
	font-size: 11px;
	padding-left:10px;
	}
.property p.img span.msg:after{
    position: absolute;
    content: '';
    right: -10px;
    top: 0px;
    width: 0;
    height: 0;
    border: none;
    border-right: solid 10px transparent;
    border-top: solid 20px #fff;
    z-index: 1;
	}
.property p.img span.kind{
    position: absolute;
    top: 10px;
    background: #E86446;
    display: block;
    width: calc(45px);
	margin-left:10px;
    z-index: 1;
    right: 0;
	height:20px;
	color:#fff;
	padding-right: 5px;
	font-size: 10px;
	text-align: right;
	}
.property p.img span.kind:before{
    position: absolute;
    content: '';
    left: -10px;
    top: 0px;
    width: 0;
    height: 0;
    border: none;
    border-left: solid 10px transparent;
    border-top: solid 20px #E86446;
    z-index: 1;
	}


.property p.price{
	font-size: 16px;
	font-weight: bold;
	margin-top:5px;
	margin-bottom:5px;
	}
.property p.price span.year{
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 10px;
	color: #92909B;
	display: inline-block;
	margin-left:10px;
	}
.property ul.info1,
.property ul.info2,
.property ul.info3{
	letter-spacing: -0.4em;
	}
.property ul.info1 li,
.property ul.info2 li,
.property ul.info3 li{
	letter-spacing: normal;
	vertical-align: top;
	display: inline-block;
	font-size:12px;
	color:#92909B;
	margin-bottom:5px;
	}
.property ul.info1 li{

	}
.property ul.info1 li:nth-child(2n+1){
	color:#5D5C65;
	font-weight:  bold;
	width:calc(100% - 90px);
	}
.property ul.info1 li:nth-child(2n){
	text-align: right;
	width:90px;
	}
.property ul.info2 li{
	display: inline-block;
	min-width:calc(100% / 3);
	}
.property ul.info2 li:nth-child(3n){
	text-align: right;
	}

.property ul.info3 li:after{
	content: "/";
	display: inline-block;
	margin:0 5px;
	}
.property ul.info3 li:last-child:after{
	content: none;
	}

.wrap-link{
	text-align: right;
	margin:30px auto;
	}
.wrap-link a{
    font-family: 'Anton', sans-serif;
	font-size:14px;
	color: #92909B;
	}
.wrap-link a:after{
	content: ">>";
	}

ul.paging_before_after{
	letter-spacing:-0.4em;
	}
ul.paging_before_after li{
	letter-spacing:normal;
	display: inline-block;
	width:50%;
	font-weight:bold;
	font-size:16px;

	vertical-align: middle;
	}
ul.paging_before_after li a{
    margin-top: -3px;
    display: inline-block;
	vertical-align: top;
	}
ul.paging_before_after li:last-child{
	text-align: right;
	}
ul.paging_before_after li:nth-child(1):before,
ul.paging_before_after li:nth-child(2):after{
	font-size:20px;
	display: inline-block;
	content: "";
	width: 20px;
	height: 20px;
	border: 2px solid;
	transform: rotate(45deg);
	}

ul.paging_before_after li:nth-child(1):before{
	border-color:  transparent transparent #565656 #565656;
	margin-right:5px;
	}
ul.paging_before_after li:nth-child(2):after{
	margin-left:5px;
	border-color:  #565656 #565656 transparent transparent;

	}


/*
--------------------------------------------*
About Concierge
*/
.about_concierge{

	}
.about_concierge .wrap-block h3{
	font-size: 14px;
	line-height:28px;
	margin-bottom:10px;
	}
.about_concierge .wrap-block p.tex{
	font-size: 11px;
	line-height:18px;
	}
.about_concierge .wrap-block ul.step{
	letter-spacing: -0.4em;
	max-width:800px;
	text-align: center;
	margin: 40px auto;
	}
.about_concierge .wrap-block ul.step li{
	display: inline-block;
	width:calc((100% - 80px)/3);
	margin-right:40px;
	}
.about_concierge .wrap-block ul.step li:nth-child(3n){
	margin-right:0;
	}


.about_concierge .wrap-block.auther{
	max-width:100%;
	}
.about_concierge .wrap-block.auther a.to-list{
	position: absolute;
	right:0;
	font-size:15px;
	}
.about_concierge .wrap-block.auther a.to-list strong{
	color:#E86446;
	display: inline-block;
	margin-left:5px;
	font-size:20px;
	}
.about_concierge .wrap-block.auther a.to-list span{
	margin-top:-10px;
	font-size:10px;
	}

.about_concierge .wrap-block.auther p.img,
.about_concierge .wrap-block.auther div.wrap-tex{
	width:100%:
	}
.about_concierge .wrap-block.auther p.img{
	width:250px;
	}
.about_concierge .wrap-block.auther p.img img{
	border-radius: inherit;
	}
.about_concierge .wrap-block.auther div.wrap-tex{
    width: calc(100% - 290px);
	}
.about_concierge .wrap-block.auther div.wrap-tex p.name{
	font-size:20px;
	text-align:left;
	font-weight: bold;
	}
.about_concierge .wrap-block.auther div.wrap-tex dl.spec{
	letter-spacing:-0.4em;
	margin-top:40px;
	}
.about_concierge .wrap-block.auther div.wrap-tex dl.spec dt,
.about_concierge .wrap-block.auther div.wrap-tex dl.spec dd{
	letter-spacing:normal;
	display: inline-block;
	vertical-align: top;
	}
.about_concierge .wrap-block.auther div.wrap-tex dl.spec dt{
	width:60px;
	background:#92909B;
	font-size:10px;
	margin-right:40px;
	margin-bottom:10px;
	text-align: center;
	color:#fff;
	}
.about_concierge .wrap-block.auther div.wrap-tex dl.spec dd{
	width: calc(100% - 100px);
	}



.company .wrap-block{
	letter-spacing: -0.4em;
	}
.company .wrap-block h3,
.company .wrap-block h3.double{
	letter-spacing: 3px;
	display: inline-block;
	background: #E86446;
	color:#fff;
	padding:5px 10px;
	font-size:16px;
	width:180px;
	vertical-align: top;
	margin-right:80px;
	position: relative;
	height:36px;
	}
.company .wrap-block h3.double{
	height:45px;
	font-size: 13px;
	}
.company .wrap-block h3:after,
.company .wrap-block h3.double:after{
    position: absolute;
    content: '';
    right: -36px;
    top: 0px;
    width: 0;
    height: 0;
    border: none;
    border-right: solid 36px transparent;
    border-top: solid 36px #E86446;
    z-index: 1;
	}
.company .wrap-block h3.double:after{
    right: -45px;
    border-right: solid 45px transparent;
    border-top: solid 45px #E86446;
    z-index: 1;
	}
.company .wrap-block h3 span{
    font-size: 11px;
    display: block;
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    vertical-align: middle;
    height: 22px;
    margin: auto;
	}
.company .wrap-block .wrap-inner{
	letter-spacing: normal;
	display: inline-block;
	width:calc(100% - 260px);
	}
.company .wrap-block table{
	width:100%;
	border-collapse: collapse;
	display: grid;
	}
.company .wrap-block table tbody{
	display: table;
	}
.company .wrap-block table tr,
.company .wrap-block table th,
.company .wrap-block table td{
	border:1px solid #92909B;
	padding:10px;
	font-size: 12px;
	}
.company .wrap-block table th{
	width:200px;
	background: #E1E1E6;
	}
.company .wrap-block table td{
	width:calc(100% - 200px);
	}
.company .wrap-block p.tex{
	font-size: 12px;
	line-height:20px;
	}
.company .wrap-block .wrap-inner strong{
	font-size:18px;
	display: block;
	margin-bottom:20px;
	}

.company .wrap-block p.tex strong{
	font-size:14px;
	margin:5px;
	margin-top:20px;
	}
.company .wrap-block .wrap-inner .map{
	margin:20px auto;
	}
.company .wrap-block .wrap-inner .map iframe{
	width:100%
	}


.president_style .wrap-block h3{
	letter-spacing: 3px;
	display: inline-block;
	background: #E86446;
	color:#fff;
	padding:5px 10px;
	font-size:16px;
	width:calc(100% - 200px);
	min-width: 50%;
	vertical-align: top;
	margin-right:80px;
	position: relative;
	height:36px;
	margin-bottom:40px;
	}
.president_style .wrap-block h3:after{
    position: absolute;
    content: '';
    right: -36px;
    top: 0px;
    width: 0;
    height: 0;
    border: none;
    border-right: solid 36px transparent;
    border-top: solid 36px #E86446;
    z-index: 1;
	}






.for_owners .wrap-block{
	letter-spacing: -0.4em;
	}
.for_owners .wrap-block h3{
	letter-spacing: 3px;
	display: inline-block;
	background: #E86446;
	color:#fff;
	padding:5px 10px;
	font-size:16px;
	width:180px;
	vertical-align: top;
	margin-right:80px;
	position: relative;
	height:36px;
	}
.for_owners .wrap-block h3:after{
    position: absolute;
    content: '';
    right: -36px;
    top: 0px;
    width: 0;
    height: 0;
    border: none;
    border-right: solid 36px transparent;
    border-top: solid 36px #E86446;
    z-index: 1;
	}
.for_owners .wrap-block h3 span{
    font-size: 11px;
    display: block;
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    vertical-align: middle;
    height: 22px;
    margin: auto;
	}
.for_owners .wrap-block .wrap-inner{
	letter-spacing: normal;
	display: inline-block;
	width:calc(100% - 260px);
	}
.for_owners .wrap-block p.tex{
	font-size: 12px;
	line-height:20px;
	}
.for_owners .wrap-block .wrap-inner strong{
	font-size:18px;
	display: block;
	margin-bottom:20px;
	}

.for_owners .wrap-block p.tex strong{
	font-size:14px;
	margin:5px;
	margin-top:20px;
	}





.japan_vacant .wrap-block{
	letter-spacing: -0.4em;
	max-width:800px;
	margin:40px auto 80px auto;
	}
.japan_vacant .wrap-block h3{
	letter-spacing: 3px;
	display: inline-block;
	background: #01466F;
	color:#fff;
	padding:5px 10px;
	font-size:16px;
	width:180px;
	vertical-align: top;
	margin-right:80px;
	position: relative;
	height:36px;
	}
.japan_vacant .wrap-block h3:after{
    position: absolute;
    content: '';
    right: -36px;
    top: 0px;
    width: 0;
    height: 0;
    border: none;
    border-right: solid 36px transparent;
    border-top: solid 36px #01466F;
    z-index: 1;
	}
.japan_vacant .wrap-block h3 span{
    font-size: 11px;
    display: block;
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    vertical-align: middle;
    height: 22px;
    margin: auto;
	}
.japan_vacant .wrap-block .wrap-inner{
	letter-spacing: normal;
	display: inline-block;
	width:calc(100% - 260px);
	}
.japan_vacant .wrap-block p.tex{
	font-size: 12px;
	line-height:20px;
	}
.japan_vacant .wrap-block .wrap-inner strong{
	font-size:18px;
	display: block;
	margin-bottom:20px;
	}

.japan_vacant .wrap-block p.tex strong{
	font-size:14px;
	margin:5px;
	margin-top:20px;
	}
