@media (max-width: 769px) {
/*
====================================================================================
*/

body{

	}


.property ul.info1 li:nth-child(2n+1),
.property ul.info1 li:nth-child(2n) {
    width: calc(100% - 0px);
	text-align: left;
	}

.property p.img span.msg{
	position: relative;
	height: auto;
	bottom:auto;
	padding:0;
	text-align: left;
	}
.property p.img span.msg:after{
	content: none;
	}
.swiper-container.gallery-top2{
	text-align: left;
	}
.swiper-container.gallery-top2 img {
    width: auto!important;
    height: 100px;
	}









/*
====================================================================================
*/
}